h1 {
    font-size: 98px;
    font-weight: 700;
    background: linear-gradient(90deg,
            #C871DE 0%,
            #69A0DC 46.87%,
            #53B5D7 100%);
        background-clip: text;
        color: transparent;
    }

h3{
    color: white;
    font-family: "Poppins";
    font-weight: 400;
    font-size: 45px;
    margin:0vh 40vh 0vh 40vh;
}

.arrow {
    transform: translateY(20%);
    transition: 2s;
    margin: 12vh;
}

.hero-btn {
    display: flex;
    justify-content: center;
    margin: 10vh;
}
@media (max-width:1200px) {
    .hero-section{
        margin-top: 8vh;
        width: 100%;
    }
    h1{
        font-size: 70px;
    }
    h3{
        font-size: 40px;
        margin:0vh 30vh 0vh 30vh;
    }
}
@media (max-width:975px){
    h3{
        font-size: 35px;
        margin:0vh 25vh 0vh 25vh;
    }
}
@media (max-width:776px){
    h1{
        font-size: 60px;
    }
    h3{
        font-size: 30px;
        margin:0vh 15vh 0vh 15vh;
    }
}
@media (max-width:570px) {
    h1{
        font-size: 50px;
    }
    h3{
        font-size: 25px;
        margin:0vh 15vh 0vh 15vh;
    }
}


@media screen and (max-width: 480px) {
    h1 {
        font-size: 35px;
        margin-left: 2vh;
        margin-right: 2vh;
        padding-top: 5vh;
    }   

    h3 {
        font-size: 20px;
        margin-left: 6vh;
        margin-right: 6vh;
    }

   .hero-btn {
        margin: 5vh 0vh 0vh 1vh; 
   }
   
   .arrow {
        margin: 0vh 0vh 0vh 1vh;
   }

}